@import "mixins";

.main {
    @include flex-container;
    @include flex-column;

    justify-content: flex-start;
    min-height: 100vh;
    gap: 5em;

    &__hero {
        position: relative;
        height: 20em;
    }

    &__img {
        height: 100%;
        background: url("../../public/images/pizza.jpg") center center/cover;
    }

    &__overlay {
        @include flex-container;
        font-size: 0.9rem;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        gap: 3em;
        background-color: rgba($color: #000000, $alpha: 0.7);
        color: #fff;
    }

    &__heading {
        font-size: 3rem;
    }

    &__form {
        @include flex-container;
        align-items: flex-start;
        height: calc(100vh - 28em);
    }
}